/* Paleta de colores */
:root {
    --primary-color: #0A3981;
    --secondary-color: #E38E49;
    --background-color: #D4EBF8;
    --text-color: #1F509A;
    --light-text: #FFFFFF;
}

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header, footer {
    background-color: var(--primary-color);
    color: var(--light-text);
    text-align: center;
    padding: 10px 0;
}

h1, h2 {
    text-align: center;
}

form {
    background-color: var(--secondary-color);
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, select {
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}

button {
    background-color: var(--primary-color);
    color: var(--light-text);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: var(--text-color);
    transform: scale(1.05);
}

#resultado {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #FAF6E3;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}





